<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">
    <link href="../assets/css/imgy.css" rel="stylesheet">
    <style>
        .btn.submit {
            width: 100px;
            height: 50px;
            border-radius: 4px;
            background-color: #2ECC40;
            border-color: #2ECC40;
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            align-content: space-around;
        }
    </style>
</head>

<body>
    <h1 class="header">Imgy</h1>
    <br/>
    <form method="POST" action="/accept" class="container">
        <input type="text" class="txt" placeholder="Invite code...">
        <input type="submit" class="btn submit" value="Join">
    </form>
</body>

</html>