<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">
    <link href="../assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../assets/css/imgy.css" rel="stylesheet">

    <style>
        .imgy-child {
            margin-bottom: 15px;
        }
    </style>
</head>

<body>
    <div>
        <h1 class="header">Imgy</h1>
        <span class="subheader">You must be login to use Imgy.</span>
        <br/>
        <div class="container">
            {{ range $v := .}}
            <button type="button" onclick="window.location.href = '{{ $v.AuthURL }}'" class="btn {{ $v.AuthName }} imgy-child"><i class="fa fa-{{ $v.AuthName }} fa-lg" aria-hidden="true"></i> Login with {{ $v.AuthName }}</button>            {{ end }}
        </div>
    </div>
</body>

</html>